@model ProjectCore.Models.Personel
@{
    ViewData["Title"] = "YeniPersonel";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

@using(Html.BeginForm("YeniPersonel","Personel",FormMethod.Post))
{
     <b>Personel Adı</b>
    @Html.TextBoxFor(x=>x.Ad,new {@class ="form-control"})
    <br />
    <b>Personel Soyadı</b>
    @Html.TextBoxFor(x=>x.Soyad,new {@class ="form-control"})
    <br />
    <b>Personel Sehir</b>
    @Html.TextBoxFor(x=>x.Sehir,new {@class ="form-control"})
    <br />
   <b>Birim</b>
    @Html.DropDownListFor(x=>x.Birim.BirimID,(List<SelectListItem>)ViewBag.dgr,new{@class ="form-control"})
    <br />
    
    <button class="btn btn-outline-info">Personel ekle</button>
}